bit.o
bswap.o
callback.o
curterm.o
dictionary.o
double.o
extras.o
ficlblas.o
fileaccess.o
float.o
hash.o
lzuncompress.o
main.o
mt19937-64.o
mt19937ar.o
prefix.o
primitives.o
search.o
softcore.o
stack.o
system.o
tools.o
unix.o
utility.o
vm.o
word.o
ficl
*.a
softcore.c
ficll
ficlplatform.h
cscope.out
